/* Reseta margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais do body */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilo para o título */
h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Estilo para o contador */
.contador {
    font-size: 2em;
    color: #000000;
}

.contador span {
    font-weight: bold;
    color: purple;
}
